<nav
  class="header-navbar navbar-expand-sm navbar navbar-with-menu navbar-dark navbar-shadow border-grey border-lighten-2"
>
  <div class="navbar-wrapper">
    <div class="navbar-header">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item mobile-menu d-md-none float-left">
          <i class="nav-link menu-toggle ft-menu font-large-1"></i>
        </li>
        <li class="nav-item">
          <a href="index.html" class="navbar-brand nav-link"
            ><img
              src="./assets/app-assets/images/logo/logo-light.png"
              alt="branding logo"
          /></a>
        </li>
        <li class="nav-item d-md-none ml-auto">
          <a
            data-toggle="collapse"
            data-target="#navbar-mobile5"
            class="nav-link open-navbar-container"
          >
            <i class="la la-ellipsis-v"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="navbar-container content">
      <div id="navbar-mobile5" class="collapse navbar-collapse">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              [class.active]="activeLink === 'signup'"
              (click)="navigate('dashboard/signup', 'signup')"
              >Sign Up</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [class.active]="activeLink === 'login'"
              (click)="navigate('dashboard/login', 'login')"
              >Login</a
            >
          </li>
          <!-- <li class="nav-item dropdown" >
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Dropdown</a
            >
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li> -->
        </ul>
        <ul class="nav navbar-nav float-lg-right float-sm-left">
          <li class="dropdown dropdown-language nav-item">
            <a
              id="dropdown-flag5"
              href="#"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              class="dropdown-toggle nav-link"
              ><i class="flag-icon flag-icon-gb"></i
              ><span class="selected-language">English</span
              ><i class="caret"></i
            ></a>
            <div
              aria-labelledby="dropdown-flag5"
              class="dropdown-menu dropdown-menu-right"
            >
              <a href="#" class="dropdown-item"
                ><i class="flag-icon flag-icon-gb"></i> English</a
              ><a href="#" class="dropdown-item"
                ><i class="flag-icon flag-icon-es"></i> Spanish</a
              ><a href="#" class="dropdown-item"
                ><i class="flag-icon flag-icon-pt"></i> Portuguese</a
              >
              <a href="#" class="dropdown-item"
                ><i class="flag-icon flag-icon-fr"></i> French</a
              >
            </div>
          </li>
          <li class="dropdown dropdown-user nav-item">
            <a
              href="#"
              data-toggle="dropdown"
              class="dropdown-toggle nav-link dropdown-user-link"
              ><span class="avatar avatar-online"
                ><img
                  src="./assets/app-assets/images/portrait/small/avatar-s-1.png"
                  alt="avatar" /><i></i
              ></span>
              <h6 class="user-name">John Doe</h6>
              <i class="caret"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="#" class="dropdown-item"
                ><i class="ft-user"></i> Edit Profile</a
              >
              <a href="#" class="dropdown-item"
                ><i class="ft-mail"></i> My Inbox</a
              >
              <a href="#" class="dropdown-item">
                <i class="ft-check-square"></i> Task</a
              >
              <a href="#" class="dropdown-item"
                ><i class="ft-message-square"></i> Calender</a
              >
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item"
                ><i class="ft-power"></i> Logout</a
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
